* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.required {
    color: red;
    margin: 5px;
}

.indicator {
    color: red;
    text-align: left;
    margin: 10px;
}



body {
    background-color: #f4f4f4;
    color: #333;
}

/*general*/
a {
    text-decoration: none;
}

button,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="tel"],
select {
    padding: 0px 10px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #163650;
    font-size: 1rem;
}

button {
    background-color: #f4f4f4;
    color: #163650;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(244, 244, 244, 0.7);
}

h1 {
    padding: 20px 0px;
    text-align: center;
    color: #1a3153;
    font-size: 1.5rem;
}


/*header*/
header {
    padding: 10px 25px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #163650;
    height: 70px;
}

header img {
    max-width: 250px;
}

.logo-container {
    display: flex;
    align-items: center;
}

/* Navigation */
nav {
    float: right;
    padding-right: 25px;
}

#menu-icon {
    background: url("images/hamburger.png");
    display: block;
    width: 40px;
    height: 40px;
}

nav ul {
    background: beige;
    list-style-type: none;
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
    height: 300px;
    transition: 1s all ease;
    text-align: center;
    height: auto;
    z-index: 999;
}

nav li {
    margin-top: 25px;
    padding: 9px;
}

nav:hover ul {
    right: 0;
    display: block;
}

/* Adjust submenu styling */
nav li ul.dropdown {
    display: none;
    position: relative;
    top: 100%;
    left: 0;
    background: rgb(254, 254, 218);
    z-index: 999;
    height: auto;

}

nav li ul.dropdown li {
    margin: 8px 0;
}

nav li:hover ul.dropdown {
    display: block;
}


/* DETAILS */

details {
    position: relative;
    width: 100%;
}

.custom-summary {
    list-style: none;
    cursor: pointer;
    padding: 10px 30px;
    display: block;
    position: relative;
    text-decoration: none;
    font-weight: 800;
}


.custom-summary::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: black;
}

.custom-summary::before {
    content: '<';
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

details[open] .custom-summary::before {
    transform: translateY(-50%) rotate(-90deg);
}


.form-row label {

    margin: 5px 10px;

}

.form-row textarea {
    padding: 10px;
    height: 180px;
}

.form-row input,
.form-row select,
.form-row textarea,
.form-row p {
    display: block;
    width: 95%;
    margin: 0 10px;
}

.rad-report input,
.rad-report label,
.resolved input,
.resolved label {
    width: 20px;
    display: inline;
    margin-top: 10px;
}

.btn-report {
    text-align: right;
    padding-right: 10px;
}

.btn-report button {
    background: #163650;
    color: #b8c4d5;
    width: 85px;
    margin-top: 15px;
}

/* Header styles */


/* Label styles */
label {
    display: block;
    /* Makes labels take up the full width */
    margin-top: 1rem;
    /* Space above each label */
    font-size: 1.1rem;
    font-weight: bold;
}


/* Footer for all pages */
.linksNav,
.linksFooter {
    font-weight: bold;
    font-size: 1rem;
}

.linksNav {
    color: #1a3153;
}

.linksNav:hover {
    color: #1d3456;
}

.linksFooter {
    color: #dbc7c0;
}

.linksFooter:hover {
    color: #9e7c70
}

#footer-scroll {
    background-color: #163650;
    text-align: center;
    padding: 20px 0;

}

#footer-scroll p {
    color: #dbc7c0;
}

/* Home page */
.main-container {
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
    padding: 15px;
    margin: 25px auto;
}

.featuresCreateNCR,
.featuresViewNCR,
.featuresManageAcc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    flex: 0 1 30%;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
}

.featuresCreateNCR {
    background-image: linear-gradient(rgba(255, 255, 255, 0.20), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url("images/CreateNCR.webp");
}

.featuresViewNCR {
    background-image: linear-gradient(rgba(255, 255, 255, 0.20), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url("images/ViewNCR.webp");
}

.featuresManageAcc {
    background-image: linear-gradient(rgba(255, 255, 255, 0.20), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url("images/ManagaeAccount.webp");
}

.featuresCreateNCR h2,
.featuresViewNCR h2,
.featuresManageAcc h2 {
    font-size: 1.5em;
}

.featuresCreateNCR p,
.featuresViewNCR p,
.featuresManageAcc p {
    font-size: 0.99em;
    margin: 20px 0;
}

.featuresCreateNCR button,
.featuresViewNCR button,
.featuresManageAcc button {
    border-radius: 20px;
    width: 50%;
    height: 35px;
}

/* Create page */
/* Status Bar */
.status-bar {
    display: flex;
    margin: 40px 0 20px;
    position: relative;
    justify-content: space-between;
}

.status-bar div {
    width: 30%;
    padding: 10px;
    text-align: center;
    color: black;
    transition: color 0.3s ease;

}

.status-bar div.active {
    color: #1a3153;
    font-weight: 600;
}

.status-bar::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #1a3153;
    transition: left 0.4s ease, width 0.4s ease;
    width: var(--underline-width, 30%);
    left: var(--underline-left, 0%);
}

/* create page  */
/* Fieldset Styles */
fieldset {
    border: 1px solid #163650;
    /* Example border style */
    border-radius: 5px;
    /* Rounded corners */
    margin: 10px 0;
    /* Space between fieldsets */
}

fieldset legend {
    margin-top: 10px;
    /* Space above the legend */
    font-weight: bold;
    /* Optional: make the legend text bold */
    font-size: 1.2rem;
    /* Optional: adjust the font size */
}

.createNcr-verticalLayout,
.verticalLayout {
    display: flex;
    flex-direction: column;
}

#ncr-form {
    text-align: center;
}

.form-section {
    display: none;
}

.form-section.active {
    display: flex;
    padding: 20px;
    margin: 25px 5px;
    border-radius: 5px;
    border: 2px solid #163650;
    /* Added border style */
    flex-direction: column;
    text-align: center;
}

.form-section.active label {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
}

.form-section.active button {
    background-color: #1a3153;
    color: #f4f4f4;
    margin: 10px 10px;
    height: 40px;
    width: 95%;
}

.form-section p {
    font-weight: bold;
    margin: 0;
    /* Added margin reset */
}

.form-section span {
    font-weight: normal;
}

.affirmation {
    margin-top: 30px;
}

.btn-qa-create {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-section label,
.form-section input,
.form-section select {
    display: block;
    text-align: left;
    margin-top: 10px;
}

.form-section textarea {
    height: 200px;
    font-size: 1rem;
    width: 100%;
}

.form-section textarea::placeholder {
    padding: 10px;
}

.qa-info-section input,
.qa-info-section select {
    width: 100%;
}

.qa-process {
    text-align: left;
    border: none;
    margin-top: 20px;
}

.item-marked-nonconforming {
    border: none;
}

.qa-process input {
    display: inline;
    height: 15px;
    width: 45px;
}

.item-conforming {
    text-align: left;
    border: none;
}

.item-conforming input,
.item-conforming label {
    display: inline;

}

.item-conforming legend {
    text-align: left;
}

.confirmation p {
    text-align: left;
    margin-top: 10px;
    font-size: 1.05em;
}

.affirmation input,
.affirmation label {
    display: inline;
    font-size: 0.85em;
}

.media {
    border: none;
    margin-top: 20px;
}



/* Dropdown for qa-section  */
.form-group {
    display: flex;
    flex-direction: column;
    /* Ensures label and span stack vertically */
    padding: 5px;
    /* Adds space inside the div */
    overflow: hidden;
    /* Clips any overflow */
}

#qa-section {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    /* or overflow: auto; */
    box-sizing: border-box;
}

#qa-section label {
    font-weight: 600;
    margin-bottom: 10px;
}

#qa-section span {
    white-space: normal;
    text-align: left;
    word-break: break-word;
    /* Breaks long words */
    overflow-wrap: break-word;

}

#qa-section label,
#qa-section span {
    margin-left: 25px;
}

/* View NCR */
.verticalLayout {
    width: 100%;
    /* Ensure full width but no overflow */
    text-align: center;
    margin: 0 auto;
}

/* Filter Section */
.filter-section {
    margin: 0 auto;
    /* Center align and prevent overflow */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    /* Prevent overflow on smaller screens */
}

/* Search Bar */
#search,
#date-filter {
    width: 250px;
    height: 40px;
    color: #1a3153;
}

/* Status Filter */
input[type="radio"].status-filter {
    color: #1a3153;
}

/* Fieldset View NCR */
.fieldset-viewncr {
    border: 2px solid rgba(0, 0, 0, 0.621);
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    max-width: 100%;
    border: none;
    text-align: center;
}

.fieldset-viewncr label {
    margin-top: 0px;
    font-size: 1rem;
}

/* General Radio Button Style */
input[type="radio"] {
    color: #1a3153;
}

/* Radio Button Margin */
.radio-btn {
    margin-left: 30px;
}

/* Bold Text for Status and Record Count */
#status-filter,
#record-count {
    font-weight: bold;
    margin-top: 10px;
}

#record-count {
    margin-top: 10px;
}

#status-filter {
    text-align: center;
}

/* Table */
.ncr-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
}

.ncr-table thead th {
    background-color: #4c6488;
    color: #f4f4f4;
    padding: 18px;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}

.ncr-table tbody td {
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.ncr-table tbody tr:nth-child(even) {
    background-color: #d7e4f9;
}

.ncr-table tbody tr:nth-child(odd) {
    background-color: #f4f4f4;
}

.ncr-table tbody tr:hover {
    background-color: #b8c4d5;
}

/* Responsive Layout - Show only selected columns on small screens */
.ncr-table th,
.ncr-table td {
    display: none;
}

/* Mobile view - Show only 1st, 2nd, and 5th columns */
.ncr-table thead th:nth-child(1),
.ncr-table thead th:nth-child(2),
.ncr-table thead th:nth-child(5),
.ncr-table tbody td:nth-child(1),
.ncr-table tbody td:nth-child(2),
.ncr-table tbody td:nth-child(5) {
    display: table-cell;
}

/* Manage account */
.account {
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    border: none;
    margin-bottom: 0px;
}

.account legend {
    justify-content: center;
    text-align: center;
}

.account label {
    margin-top: 20px;
}

.gradient-acc {
    background: linear-gradient(to bottom, #a7bcdc, #1a3153);
}

.account button {
    margin: 30px 0px;
    background-color: #1a3153;
    color: #f4f4f4;
    width: 200px;
}

.account input,
.account select {
    width: 200px;
}

.account legend img {
    height: 170px;
    width: 170px;
}


/* Contact us */
.fieldset-contact {
    flex-direction: column;
    /* Stack elements vertically */
    text-align: center;
    margin: 0px 5% 2% 5%;
}

.fieldset-contact label {
    font-weight: 600;
    text-align: left;
    margin-left: 2%;
}

.fieldset-contact #name,
.fieldset-contact #email {
    height: 40px;
    width: 95%;
}

.fieldset-contact #message {
    width: 95%;
    height: 300px;
    padding: 10px;
    font-size: 1rem;
}

/* Button Styling */
.fieldset-contact button {
    align-self: flex-end;
    height: 45px;
    background-color: #1a3153;
    color: #f4f4f4;
    width: 200px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px 0px;
}

/* Button Hover Effect */
.fieldset-contact button:hover {
    background-color: #394b6a;
}


/* privacy policy page */
#privacy-wrapper{
    width: 95%;
    margin: 0 auto;
}

#table-of-contents{
    font-size: 1.35em;
    font-weight: 800;
    margin-bottom: 15px;
}
#privacy-wrapper strong {
    margin-bottom: 10px; 
    display: inline-block; 
}

#privacy-wrapper p {
    line-height: 1.6; 
}


#privacy-wrapper h1 {
    font-size: 2em; 
    margin-bottom: 20px; 
}

#privacy-wrapper h2 {
    font-size: 1.65em; 
    margin-top: 50px; 
    margin-bottom: 15px; 
}
#privacy-wrapper h3 {
    font-size: 1.25em; 
    margin-top: 20px; 
    margin-bottom: 8px; 
}

/*media*/
@media screen and (min-width: 320px) {
    header {
        padding: 10px 10px;
    }

    header img {
        max-width: 200px;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    /*home*/
    .main-container {
        display: block;
        text-align: center;
        margin: 10px 100px;
    }


    p {
        margin-top: 5px;
    }

    .featuresCreateNCR,
    .featuresViewNCR,
    .featuresManageAcc {
        margin: 40px 0px;
        height: 250px;
    }

    .featuresCreateNCR h2,
    .featuresViewNCR h2,
    .featuresManageAcc h2 {
        font-size: 2rem;
    }

    .featuresCreateNCR p,
    .featuresViewNCR p,
    .featuresManageAcc p {
        font-size: 1rem;
    }

    /* create ncr*/

    .form-section textarea {
        height: 250px;
        width: 85%;
    }

    #description-item {
        margin: 18;
    }

    .qa-info-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .btn-qa-create {
        align-self: flex-end;
        width: 50%;
    }

    .two-rows {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        align-self: flex-start;
    }

    .two-rows label {
        margin-left: 8%;
        margin-bottom: 10px;
    }

    .two-cols {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .fieldset-margin fieldset {
        margin-top: 10px;
    }

    .filter-section {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }


    .filter-section div {
        margin-bottom: 15px;
        width: 100%;
        text-align: left;
    }


    .serach-bar,
    .date-filter {
        width: 65%;
    }

    .fieldset-viewncr {
        flex-direction: row;
        justify-content: center;
        gap: 8px;
        width: 350px;
    }

    .ncr-table th,
    .ncr-table td {
        display: table-cell;
        /* Show all table cells */
    }

    .fieldset-viewncr legend {
        font-size: 1.2rem;
        text-align: left;
        margin-left: 8px;
    }

    .ncr-table {
        font-size: 14px;
    }

    /*view ncr*/



    .filter-section {
        margin: 0 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }

    .filter-section label,
    #status-filter {
        text-align: left;
    }

    .main-container section {
        width: 100%;
    }

    /* account */
    .account input,
    .account select {
        width: 500px;
    }

    .account legend img {
        height: 200px;
        width: 200px;
    }

    .ncr-table th,
    .ncr-table td {
        display: table-cell;
    }

    /* Nav bar */
    #menu-icon {
        display: none;
        /* Hide hamburger menu icon */
    }

    nav {
        margin-left: auto;
        /* Push nav to the right */
    }

    nav ul {
        right: 0;
        transition: none;
        display: block;
        background: transparent;
        padding: 0;
        margin: 0;
        position: relative;
    }

    nav li {
        display: inline-block;
        position: relative;
        margin: 0;
    }

    nav li a {
        display: block;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        color: #000;
    }

    nav li ul.dropdown {
        width: 100%;
        position: absolute;
        z-index: 999;
        display: none;
        background: #aae7f1;
        padding: 0;
        margin: 0;
    }

    nav li ul.dropdown li {
        display: block;
        padding: 0;
        margin: 0;
    }

    nav a:hover {
        text-decoration: underline;
    }


    /* contacat us */
    .fieldset-contact {
        padding: 0px 40px;
    }

    .fieldset-contact label {
        margin-left: 18%;
    }

    .fieldset-contact #name,
    .fieldset-contact #email {
        width: 65%;
    }
    
}




@media screen and (min-width: 1024px) {

    /*header*/
    header {
        padding: 10px 25px;
        background-color: #f4f4f4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #163650;
        height: 70px;
    }

    header img {
        max-width: 300px;
        margin-top: 0;
    }

    .logo-container {
        display: flex;
        align-items: center;
    }


    /*general*/
    h1 {
        font-size: 2rem;
    }

    label,
    label {
        font-size: 1rem;
    }

    /*home page*/
    .main-container {
        padding: 40px;
    }

    /*view ncr*/


    .filter-section {
        flex-direction: row;
        margin: 20px 15px;
    }

    .serach-bar,
    .date-filter {
        width: 200px;
    }

    #record-count {
        margin-bottom: 10px;
    }

    /* ncr  report page */
    .form-group {
        align-items: center;
    }

    .form-row label,
    .form-row input,
    .form-row select,
    .form-row textarea {
        width: 65%;
    }

    .two-cols {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
    }

    .rad-report, .resolved{
        align-self: flex-start;
        margin-left: 82px;
        margin-top: 15px;
    }
    .rad-report input, .resolved input {
        width: 20px;
        margin-top: 10px;
    }
    
    .btn-report button{
        width: 185px;
        margin: 25px;
    }
    .indicator{
        margin-left: 95px;
    }

    .custom-summary{
        font-size: 1.5em;
        padding-left: 95px;
    }

    /* Home Page - Three-column Layout */
    /*home*/

    .main-container {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        margin: 60px auto;
        justify-content: space-between;
        padding: 40px;
    }

    .featuresCreateNCR,
    .featuresViewNCR,
    .featuresManageAcc {
        padding-top: 315px;
    }

    .main-container section {
        width: 100%;
    }

    .featuresCreateNCR,
    .featuresViewNCR,
    .featuresManageAcc {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        flex: 0 1 30%;
        height: 500px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        transition: transform 0.3s ease;
        position: relative;
    }

    .featuresCreateNCR h2,
    .featuresViewNCR h2,
    .featuresManageAcc h2 {
        font-size: 2rem;
    }

    /* view ncr */

    #search,
    #date-filter {
        width: 180px;
    }

    .filter-section {
        margin: 0px 40px;
    }

    p {
        margin-top: 5px;
    }

    .featuresCreateNCR p,
    .featuresViewNCR p,
    .featuresManageAcc p {
        font-size: 1.5rem;
        margin: 25px 0 20px;
    }

    .featuresCreateNCR:hover,
    .featuresViewNCR:hover,
    .featuresManageAcc:hover {
        transform: scale(1.05);
    }

    /*account*/
    .account {
        margin: 0px 100px;
    }

    
}

@media screen and (min-width: 1440px) {

    h1 {
        font-size: 3rem
    }

    label,
    p {
        font-size: 1.2rem;
    }

    fieldset legend {
        font-size: 2rem;
    }


    /*account*/
    .account {
        margin: 0px 100px;
        border-radius: 25px;
    }

    .account legend img {
        height: 250px;
        width: 250px;
    }

    /*view ncr*/
    #search,
    #date-filter {
        width: 350px;
    }

    .ncr-table th,
    .ncr-table td {
        font-size: 18px;
    }

    /*create ncr*/

    .qa-process legend {
        font-size: 1.2rem;
    }

    .status-bar div {
        font-size: 1.2rem;
    }

    .form-section.active button {
        height: 50px;
        width: 75%;
    }

    

    .form-row label,
    .form-row input,
    .form-row select,
    .form-row textarea {
        width: 65%;
    }

    .two-cols {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
    }

    .rad-report, .resolved{
        align-self: flex-start;
        margin-left: 115px;
        margin-top: 15px;
    }
    .rad-report input, .resolved input {
        width: 20px;
        margin-top: 10px;
    }
    
    .btn-report button{
        width: 185px;
        margin: 25px;
    }
    .indicator{
        margin-left: 128px;
    }
    .custom-summary{
        font-size: 1.45em;
        padding-left: 128px;
    }
}

@media screen and (min-width: 1760px) {

    /* General */
    header img {
        max-width: 400px;
    }

    header {
        height: 100px;
    }

    footer {
        font-size: 1.3em;
        padding: 20px;
    }

    .linksNav,
    .linksFooter {
        font-weight: bold;
        font-size: 1.5rem;
    }

    footer p {
        font-size: 1.5rem;
        padding: 10px 0px;
    }

    .indicator {
        font-size: 1.7rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    label,
    .featuresCreateNCR p,
    .featuresViewNCR p,
    .featuresManageAcc p {
        font-size: 2rem;
    }

    fieldset legend {
        font-size: 2rem;
    }

    .account input,
    .account select {
        width: 600px;
        font-size: 1.7rem;
    }

    .date-filter {
        width: 500px;
    }

    .serach-bar {
        width: 500px;
    }

    /*home page */
    .main-container {
        gap: 200px;
        padding: 20px;
        max-width: 1800px;
    }

    .featuresCreateNCR h2,
    .featuresViewNCR h2,
    .featuresManageAcc h2 {
        font-size: 2.5rem;
    }

    button,
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    select {
        height: 60px;
        font-size: 1.7rem;
    }

    .featuresCreateNCR,
    .featuresViewNCR,
    .featuresManageAcc {
        height: 600px;
    }

    .featuresCreateNCR button,
    .featuresViewNCR button,
    .featuresManageAcc button {
        border-radius: 20px;
        width: 50%;
        height: 75px;
    }

    /* view ncr */
    .filter-section {
        margin: 40px 200px;
    }

    #search,
    #date-filter {
        width: 500px;
    }

    #status-filter,
    #record-count {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .filter-section {
        margin: 40px 200px;
    }

    .ncr-table thead th,
    .ncr-table tbody td {
        font-size: 1.7rem;
    }

    /*create cncr*/
    .qa-info-section input[type="text"],
    .qa-info-section input[type="number"],
    .qa-info-section select {
        width: 90%;
    }

    .form-section.active label {
        font-size: 2rem;
    }

    .status-bar div {
        font-size: 1.7rem;
    }

    .qa-process legend {
        font-size: 2rem;
    }


    /* account*/

    .account {
        margin: 0px 300px;
    }

    .account label {
        font-size: 2rem;
    }

    .fieldset-viewncr {
        width: 550px;
    }

    .form-section.active button {
        height: 65px;
        width: 35%;
    }

    /* account */
    .account {
        margin: 10px 300px 0px 300px;
    }

    .account legend img {
        width: 350px;
        height: 350px;
    }

    .rad-report, .resolved{
        align-self: flex-start;
        margin-left: 140px;
        margin-top: 15px;
    }
    .rad-report input, .resolved input {
        width: 20px;
        margin-top: 10px;
    }
    
    .btn-report button{
        width: 185px;
        margin: 25px;
    }
    .indicator{
        margin-left: 153px;
    }
    .custom-summary{
        font-size: 2em;
        padding-left: 153px;
    }
}